<% provide(:title, "TOP") %>
 <% if logged_in? %>
 <div class="col-md-8">
  <P>投稿一覧</P>
    <%= form_tag root_path, :method => 'get' do %>
      <small>
        <%= text_field_tag :search, params[:search] %>
        <%= submit_tag "検索", :name => nil %>
      </small>
    <% end %> 
  <%= render 'shared/feed' %>
  </div>
  
  <% else %>
  
    <%= form_for(:session, url: login_path) do |f| %>

    <%= f.label :email %>
    <%= f.email_field :email, class: 'form-control' %>

    <%= f.label :password, "パスワード"%>
    <%= f.password_field :password, class: 'form-control' %>

    <%= f.submit "ログイン", class: "btn btn-info btn-block my-4" %>
    <% end %> 
    
    
    <p>
  <%= link_to '/auth/facebook', class: "btn btn-social btn-facebook" do %>
    <span class="fa fa-facebook"></span> Facebookアカウントでログイン
  <% end %>
    </p>
   </div>
   </div>
  <% end %>
   
  
  